body{
    background-color: #f8f8f8;
}

.carousel-inner{
    height: 250px;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.content{
    background-color: white
}

.container{
    text-align: justify;
    height:auto;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
}

.footer .container {
    padding-right: 15px;
    padding-left: 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.text-muted {
    color: #777;
}